.onclickred:hover{
  border-bottom: solid red 2px;
}

.chkbx {
  transform: scale(2); /* Adjust the scale factor to increase or decrease the size */
}

.sidebar:hover .hide{
  font-size: small;
  display: inline;
}

.show:hover {
  border-right: 1px solid red;
}

.hide{
  display: none;
}



.sidebar {
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  border-right: 1px solid red;
}

.sidebar a:hover {
  background-color: beige;
  color: black;
}

.heart{
  background-color: white;
  transition: .5s;
}

.heart:hover{
  background-color: red;
  color:white
}

/* div.content {
  padding: 1px 16px;
  height: 1000px;
} */

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}