@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Inter', sans-serif;

}

.avatarimg{
  border:none;
  border-radius:50%
}

.filterr{
  font-size:larger;
  padding:15px; 
  background-color:rgb(239, 233, 233); 
  border-radius:30%;
  color:white; 
  text-align:center
}

.price{
  border-radius:30%;
  padding:.5vw; 
  border:1px solid grey;
 
}

.onclickred:hover{
  border-bottom: solid red 2px;
}

.star{
  background-color: black;
  color:black
}

.chkbx {
  transform: scale(2); /* Adjust the scale factor to increase or decrease the size */
}

.show{
  font-size:2vw;
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

.hide {
  display: none;
  font-size: small;
  transition: all .5s ease-in-out;

}

.aa{
  width: max-content;
}

/* .aa:hover .hide{
  width: max-content;
  font-size: small;
  display: inline;
} */


.home{
  border-right: 1px solid red;
}

.sidebar a:hover {
  background-color: rgb(239, 233, 233);
  color: black;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  padding: 50px;
  z-index: 1000;
}


.heart{
  background-color: white;
  transition: .5s;
  padding:5px; 
  border-radius:50%; 
  font-size:2vw; 
  cursor:pointer;
  float:right; 
  position:absolute; 
  top:30px; 
  right:25px
}

.heart:hover{
  background-color: red;
  color:white
}

.navbarb{
  border-bottom:rgb(243, 240, 240) 1px solid;
  border-top:rgb(239, 233, 233) 1px solid
}

/* .updiv{
  position: relative;
  margin-top: -12px;
} */
.dashboard{
  font-size: 1.5vw;
  cursor: pointer;
  padding-inline:15px;
  padding-bottom: 15px;
  border-radius:30%; 
  color:white; 
  text-align:center
}

.map{
  padding-inline:15px;
  padding-bottom: 12px;
  position: relative;
  right: 15px;
  background-color:rgb(239, 233, 233); 
  border-radius:30%; 
  color:white; 
  text-align:center
}

.cdiv{
  background-color:rgb(239, 233, 233); 
  padding:1vw; 
  border-radius:1vw
}

.collapse{
  z-index: 1000;
}

.dchild{
  color:black; 
  text-transform:none
}

.drawerimg{
  border-radius: 10%;
  padding: 2vw;
  width: 55vw;
}

.drawerimg2{
  margin-top: 1vh;
  border-radius: 20%;
  padding: 1vw;
  width: 26vw;
}

.wine{
  height: 4vh;
}
.winediv{
  font-weight: bold;
  margin: 2vw;
  border: 1px solid rgb(214, 212, 212);
  border-radius: 10%;
  padding: .5vw;
}

.upl{
  font-weight: bolder;
  margin: 1vw;
  padding: 5px;
  font-size: 2vw;
  border-radius: 50%;
  background-color: rgb(241, 241, 236);
}

.beigecard{
  background-color: rgb(248, 248, 244);
  border-radius: 5% ;
}

.dateinp{
  font-size: large;
  padding: .7vw;
  margin-top: .5vh;
  border: 1px solid rgb(221, 218, 218);
  border-radius: 20%;
}

/* .close{
  float: left;
} */